{{#postgres}}
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_DATABASE=dorm_example
POSTGRES_USERNAME=dorm
POSTGRES_PASSWORD=dorm
{{/postgres}}
{{#mysql}}
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_DATABASE=dorm_example
MYSQL_USERNAME=dorm
MYSQL_PASSWORD=dorm
MYSQL_ROOT_PASSWORD=root
{{/mysql}}
{{#mongo}}
MONGO_URI=mongodb://127.0.0.1:27017/dorm_example
MONGO_PORT=27017
{{/mongo}}
